# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Data
*.csv.gz
*.csv
*.parquet
data/
data_raw/
minio_data/
postgres_data/

# Dagster
.dagster/
dagster_home/

# ML
ml/models/*.pkl
ml/models/*.joblib

# Env / secrets
.env
*.env.local
secrets/

# OS / editor
.DS_Store
.vscode/
.idea/